header{height: 15%; width: 100%; background-color: rgb(255, 255, 255); color: black; align-items: center; display: flex; z-index: 1000; top: 35;}
nav{background-color: white; width: 100%; height: 5%; color:rgb(6, 6, 6); text-align: center; align-items: center; display: flex; border-bottom:rgb(209, 189, 164) 1px solid; z-index: 1000; top: 180;}
aside{height: 35%; width: 100%; background-color: rgb(255, 255, 255); color: black; position: relative;}
article{height: 70%; width: 100%; background-color: rgb(255, 255, 255); color: black;}
footer{height: 70%; width: 100%; background-color: rgba(207, 124, 88, 1); margin-top: -30;}
.searching{color: rgb(148, 122, 88); margin-top: 20px; margin-right: 520px; display: block; transition: all 0.1s ease; margin-left: 60px; font-size: 20px; margin-right: 595px;}
.searching:hover{transform: scale(1.1);}
.vnd{color: rgb(148, 122, 88); font-size: 17px; margin-left: 290px;}
.tv{color: rgb(148, 122, 88); font-size: 17px; margin-left: 10px; list-style-type: none; text-decoration: none;}
.tv a{padding: 16px; text-decoration: none; color: rgb(148, 122, 88);}
.tv1{list-style-type: none; padding: 10px;}
.tv1 a{padding: 16px; text-decoration: none; color: azure;}
.tv1 li{position: relative; padding: 6.75px;}
.tv1 a:hover{ color: rgb(231, 179, 226); border: pink 1px solid; border-radius: 10px; background-color: aliceblue;}
.tv1 li:hover .tv{ display: block;}
.language{ margin-left: 20px; border: rgb(148, 122, 88) 2px solid; color: rgb(148, 122, 88); padding: 10px; font-size: 17px; font-family: 'Times New Roman', Times, serif; border-style: none; display: block;}
.shopping{color: rgb(148, 122, 88); display: block; transition: all 0.1s ease; margin-left: 20px; font-size: 20px;}
.shopping a{color: rgb(148, 122, 88);}
.shopping:hover{ transform: scale(1.1);}
.logo{ width: 110px; height: 80px; margin-left: 33px; margin-top: 10;}
.slogan{ text-align: center; margin-left: 675px; margin-top: -22px; color:rgb(139, 105, 63);}
.sloganhd{ height: 5%; top: 144;}
.lologan1{ font-size: 18px; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;}
.slogan2{ font-size: 10px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color:rgb(139, 105, 63); top: 50px; display: block; margin-left: 5px}
.loichuc{ color: rgb(255, 255, 255); font-size: 17px; background-color: rgba(207, 124, 88, 1); height: 5%; top: 0; }
.loichuc span{ margin-left: 510px; padding: 10;}
.c1{ display: flex; list-style-type: none; font-size: 17px;}
.c1 a{ padding: 30px; text-decoration: none; color:rgb(139, 105, 63); transition: all 0.5s ease; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.c1 a:hover{ color: rgb(243, 189, 151);}
.c1 li:hover .d1{ display: block;}
.d1{ display: none; padding: 5px; position: absolute; list-style-type: none; top: 37; border:rgb(139, 105, 63) 1px solid; border-radius: 5px; background-color: white;}
.d1 li{ background-color: white; width: 230; height: 30; text-align: left;}
.d1 a{ color:rgb(139, 105, 63); font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16; transition: all 0.5s ease;}
.d1 a:hover{ color: rgb(243, 189, 151);}
.font-mid{ text-align: center; margin-top: 50px;}
.font-mid span{ font-size: 50px;font-weight: 500; color:rgb(109, 82, 50); margin-top: 300; display: block;}
.font-mid div{ margin-top: 10; font-weight: 500;font-size: 15; color:rgb(139, 105, 63);}
.c30{ list-style-type: none; padding: 30; padding-top: 10px; width: 20%;}
.c30 a{ text-decoration: none; font-size: 18px; margin-left: 20; color: rgb(230, 227, 222); font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.c30 li{width: 220; height: 40;}
.c30 a:hover{ border-bottom: #fff 1px solid;}
.quick{ font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: rgb(230, 227, 222); padding-top: 30px; padding-left: 40; font-weight: 500;}
.gioithieu{ font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 25px; color: rgb(230, 227, 222); margin-bottom: 20;  text-align: left;  margin-left: 10;}
.c31{ width: 32%; margin-top: -345; margin-left: 550;}
.c31 td{ color: rgb(230, 227, 222); font-size: 20px; text-align: left;  padding: 10;  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.ttlh{ font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  font-size: 25px; color: rgb(230, 227, 222); margin-bottom: 20; text-align: left;margin-left: 10;}
.c32{ width: 32%; margin-top: -335; margin-left: 1025;}
.c32 td{ color: rgb(230, 227, 222); font-size: 20px;text-align: left; padding: 10; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
#a2{ height: 700%; width: 100%; }
.c4{display: block; width: 90%; height: 900; margin-left: 70; overflow: hidden; float: left;}
.c4 td{  display: block; text-align: center;}
.c5 img{ width: 100%; transition: all 0.5s ease; display: block;margin-top: -5;}
.c6{ display: block;width: 80%; height: 82%; margin-left: 150; overflow: hidden; float: left;}
.c7 span{ font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.c6 b{color: rgb(241, 126, 145);}
.c8{ font-size: 49px; color:rgb(79, 59, 35);}
.c9{ font-size: 10;}
.c10{ margin-left: 10; color:rgb(114, 86, 52); font-size: 20px;}
.c11{color:rgb(114, 86, 52); font-size: 20px;}
.c11 img{ border-radius: 10px; margin-left: 50;}
.c12{ color:rgb(114, 86, 52); font-size: 20px;}
.c12 img{ border-radius: 10px; margin-left: 50; margin-top: 20;}
.c13{ color:rgb(114, 86, 52); font-size: 20px;}
.c14{ font-size: 45px;color: rgb(194, 89, 106);}
.c15{ font-size: 34px; color: rgb(237, 121, 140);}
.c15 img{ border-radius: 10px; margin-top: 20; margin-left: 75}
.c16{ color:rgb(114, 86, 52);font-size: 20px;}
.c16 img{ border-radius: 10px;margin-top: 10;margin-left: 250;}
.c17{ color:rgb(114, 86, 52); font-size: 20px;}
.c17 img{ border-radius: 10px; margin-top: 15; margin-left: 250;}
.c18{ color:rgb(114, 86, 52); font-size: 20px;}
.c19{ display: block; width: 200; height: 50; margin-left: 525; margin-top: 100;}
.c19 a{ text-decoration:  none; color:rgb(114, 86, 52); font-size: 23;  transition: all 0.5s ease;}
.c19 i:hover{ transform: scale(1.3);}
.c19 i{ display: block; width: 20; margin-bottom: -27; margin-left: -15;}
.d2{ display: block; width: 50%; height: 82%; overflow: hidden; float: left; margin-top: -1000;  }
#a3{ width: 100%; height: 70%; background-color:rgb(242, 241, 241);}
.c20{ margin-left: 270;}
.c21{ margin-top: 40; width: 900; margin-bottom: 30; margin-left: 30; font-size: 30; color:rgb(109, 82, 50); text-align: left;}
.c22{ padding: 10px;}
.c22 input{ padding: 10px; width: 100%; height: 90%;border:rgb(139, 105, 63) 1.5px solid; border-radius: 10px; font-size: 18;}
.c22 ::-webkit-input-placeholder{ color:rgb(139, 105, 63);}
.c23{ padding: 10px;}
.c23 input{ padding: 10px;width: 100%;height: 150;border:rgb(139, 105, 63) 1.5px solid; border-radius: 10px; color:rgb(139, 105, 63); font-size: 18; padding-bottom: 100;}
.c23 ::-webkit-input-placeholder{ color:rgb(139, 105, 63);}
.c24 a{ text-decoration: none; color:rgb(255, 255, 255); border:rgb(109, 82, 50) 1.5px solid; border-radius: 10px; background-color: rgb(109, 82, 50);padding: 10px; display: block;width: 150; text-align: center;font-size: 18px; transition: all 0.5s ease; margin-top: 15px;}
.c24 input{ background-color: rgb(109, 82, 50); color:rgb(139, 105, 63); }
.c24 { padding: 10px; display: block;}
.c24 a:hover{ transform: scale(1.03);}
.c25 { color:rgb(139, 105, 63); margin-left: 10; display:block; }